* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-image: url('../imagen/escuela.jpg');
    background-size: cover;
    background-position: center;
}

footer {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 15px 0;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0; 
}

footer a {
    color: white; 
    text-decoration: none;
}

footer a:link,
footer a:visited {
    color: white; 
}

footer a:hover {
    color: black; 
}

footer a:active {
    color: black; 
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    justify-content: center;
}

.rectangulo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.rojo {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.negro {
    background-color: rgb(34, 32, 32);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cuadrado {
    text-align: center;
    line-height: 100px;
    font-size: 1em;
    transition: border 0.5s ease, box-shadow 0.5s ease;
}

.cuadrado:hover {
    border: 4px solid blue;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
}

.boletin {
    width: 1000px;
    height: 200px;
    background-color: rgba(255, 255, 255);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.cuadrado:hover p {
    color: blue;
    cursor: pointer;
}

.contenedor a {
    text-decoration: none;
}

.contenedor a:link,
.contenedor a:visited {
    color: blue; 
}

.contenedor a:hover {
    color: black; 
}

.contenedor a:active {
    color: black; 
}
